Tff.PanzerGeneral_Solution/Tff.PanzerGeneral.UI.WindowsPhone7/Service References/PanzerProxy/PanzerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.tenfingersfree.com/panzer/PanzerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tff.Panzer.Services" />
  <xs:element name="GetScenarioTile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioTileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioTileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tff.Panzer.Services" minOccurs="0" name="GetScenarioTileResult" nillable="true" type="q1:ScenarioTile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioTiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scenarioId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScenarioTilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tff.Panzer.Services" minOccurs="0" name="GetScenarioTilesResult" nillable="true" type="q2:ArrayOfScenarioTile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveScenarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveScenariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tff.Panzer.Services" minOccurs="0" name="GetActiveScenariosResult" nillable="true" type="q3:ArrayOfScenario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>