Tff.PanzerGeneral_Solution/Tff.PanzerGeneral.UI.WindowsPhone7/Service References/PanzerProxy/PanzerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PanzerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.tenfingersfree.com/panzer/PanzerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.tenfingersfree.com/panzer/PanzerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.tenfingersfree.com/panzer/PanzerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tff.Panzer.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPanzerService_GetScenarioTile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScenarioTile" />
  </wsdl:message>
  <wsdl:message name="IPanzerService_GetScenarioTile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScenarioTileResponse" />
  </wsdl:message>
  <wsdl:message name="IPanzerService_GetScenarioTiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScenarioTiles" />
  </wsdl:message>
  <wsdl:message name="IPanzerService_GetScenarioTiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScenarioTilesResponse" />
  </wsdl:message>
  <wsdl:message name="IPanzerService_GetActiveScenarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveScenarios" />
  </wsdl:message>
  <wsdl:message name="IPanzerService_GetActiveScenarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveScenariosResponse" />
  </wsdl:message>
  <wsdl:portType name="IPanzerService">
    <wsdl:operation name="GetScenarioTile">
      <wsdl:input wsaw:Action="http://tempuri.org/IPanzerService/GetScenarioTile" message="tns:IPanzerService_GetScenarioTile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPanzerService/GetScenarioTileResponse" message="tns:IPanzerService_GetScenarioTile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScenarioTiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IPanzerService/GetScenarioTiles" message="tns:IPanzerService_GetScenarioTiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPanzerService/GetScenarioTilesResponse" message="tns:IPanzerService_GetScenarioTiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveScenarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IPanzerService/GetActiveScenarios" message="tns:IPanzerService_GetActiveScenarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPanzerService/GetActiveScenariosResponse" message="tns:IPanzerService_GetActiveScenarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPanzerService" type="tns:IPanzerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScenarioTile">
      <soap:operation soapAction="http://tempuri.org/IPanzerService/GetScenarioTile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScenarioTiles">
      <soap:operation soapAction="http://tempuri.org/IPanzerService/GetScenarioTiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveScenarios">
      <soap:operation soapAction="http://tempuri.org/IPanzerService/GetActiveScenarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PanzerService">
    <wsdl:port name="BasicHttpBinding_IPanzerService" binding="tns:BasicHttpBinding_IPanzerService">
      <soap:address location="http://www.tenfingersfree.com/panzer/PanzerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>