Tff.PanzerGeneral_Solution/Tff.PanzerGeneral.UI.WindowsPhone7/Service References/PanzerProxy/PanzerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tff.Panzer.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tff.Panzer.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ScenarioTile">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnNumber" type="xs:int" />
      <xs:element minOccurs="0" name="DeployIndicator" type="xs:boolean" />
      <xs:element minOccurs="0" name="NationId" type="xs:int" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ScenarioId" type="xs:int" />
      <xs:element minOccurs="0" name="ScenarioTileId" type="xs:int" />
      <xs:element minOccurs="0" name="SideId" type="xs:int" />
      <xs:element minOccurs="0" name="SupplyIndicator" type="xs:boolean" />
      <xs:element minOccurs="0" name="TerrainId" type="xs:int" />
      <xs:element minOccurs="0" name="TileNameId" type="xs:int" />
      <xs:element minOccurs="0" name="VictoryIndicator" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScenarioTile" nillable="true" type="tns:ScenarioTile" />
  <xs:complexType name="ArrayOfScenarioTile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScenarioTile" nillable="true" type="tns:ScenarioTile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScenarioTile" nillable="true" type="tns:ArrayOfScenarioTile" />
  <xs:complexType name="ArrayOfScenario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Scenario" nillable="true" type="tns:Scenario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScenario" nillable="true" type="tns:ArrayOfScenario" />
  <xs:complexType name="Scenario">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveInd" type="xs:boolean" />
      <xs:element minOccurs="0" name="DaysPerTurn" type="xs:int" />
      <xs:element minOccurs="0" name="MaxUnitExperience" type="xs:int" />
      <xs:element minOccurs="0" name="MaxUnitStrength" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfTurns" type="xs:int" />
      <xs:element minOccurs="0" name="ScenarioDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScenarioId" type="xs:int" />
      <xs:element minOccurs="0" name="ScenarioName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScenarioStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartingWeatherId" type="xs:int" />
      <xs:element minOccurs="0" name="TurnsPerDay" type="xs:int" />
      <xs:element minOccurs="0" name="WeatherZoneId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Scenario" nillable="true" type="tns:Scenario" />
</xs:schema>